.mediaViewInfo {
	--web-view-name: index;
	--web-view-id: index;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: index;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#index {
	position: absolute;
	width: 1366px;
	height: 4525px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: index;
	--web-view-id: index;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
#Rectangle_9 {
	filter: blur(5px);
	fill: rgba(0,100,255,1);
}
.Rectangle_9 {
	position: absolute;
	overflow: visible;
	width: 294px;
	height: 91px;
	left: 114px;
	top: 504px;
	filter:  blur(5px);
}
#Ellipse_5 {
	filter: blur(5px);
	fill: rgba(246,94,93,1);
}
.Ellipse_5 {
	position: absolute;
	overflow: visible;
	width: 87px;
	height: 87px;
	left: 406px;
	top: 508px;
	filter:  blur(5px);
}
#Ellipse_1 {
	position: absolute;
	width: 1473px;
	height: 1385px;
	left: 540px;
	top: -644px;
	overflow: visible;
}
#Path_6 {
	fill: rgba(36,139,253,0.612);
}
.Path_6 {
	overflow: visible;
	position: absolute;
	width: 1473px;
	height: 1385px;
	left: 515px;
	top: -621px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_3 {
	fill: rgba(36,139,253,0.169);
}
.Ellipse_3 {
	position: absolute;
	overflow: visible;
	width: 1473px;
	height: 1385px;
	left: 492px;
	top: -602px;
}
#Home {
	left: 608px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Benefits {
	left: 717px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Services {
	left: 826px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Reviews {
	left: 935px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Contacts {
	left: 1044px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Request_a_call {
	left: 1195px;
	top: 35px;
	position: absolute;
	overflow: visible;
	width: 107px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Rectangle_1 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_1 {
	position: absolute;
	overflow: visible;
	width: 179px;
	height: 42px;
	left: 1158px;
	top: 27px;
}
#Rectangle_2 {
	fill: rgba(255,255,255,1);
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 311px;
	height: 351px;
	left: 803px;
	top: 204px;
}
#Order_Translation {
	left: 862px;
	top: 242px;
	position: absolute;
	overflow: visible;
	width: 204px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(91,91,91,1);
}
#Rectangle_7 {
	filter: blur(5px);
	fill: rgba(246,94,93,1);
}
.Rectangle_7 {
	position: absolute;
	overflow: visible;
	width: 247px;
	height: 84px;
	left: 851px;
	top: 535px;
	filter:  blur(5px);
}
#Rectangle_3 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 215px;
	height: 44px;
	left: 850px;
	top: 308px;
}
#Rectangle_4 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_4 {
	position: absolute;
	overflow: visible;
	width: 215px;
	height: 44px;
	left: 850px;
	top: 380px;
}
#Rectangle_5 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_5 {
	position: absolute;
	overflow: visible;
	width: 215px;
	height: 44px;
	left: 850px;
	top: 452px;
}
.Rectangle_6:hover {
	width: 246px;
	height: 61px;
}
#Rectangle_6 {
	fill: rgba(246,94,93,1);
}
.Rectangle_6 {
	position: absolute;
	overflow: visible;
	width: 217px;
	height: 54px;
	left: 851px;
	top: 535px;
	transition: all .3s ease-out;
}
#Rectangle_27 {
	fill: rgba(246,94,93,1);
}
.Rectangle_27 {
	position: absolute;
	overflow: visible;
	width: 211px;
	height: 44px;
	left: 575px;
	top: 4203px;
}
#Rectangle_26 {
	filter: blur(5px);
	fill: rgba(246,94,93,1);
}
.Rectangle_26 {
	position: absolute;
	overflow: visible;
	width: 241px;
	height: 74px;
	left: 575px;
	top: 4203px;
	filter:  blur(5px);
}
#Icon_feather-send {
	position: absolute;
	width: 23.666px;
	height: 23.666px;
	left: 1010.873px;
	top: 550px;
	overflow: visible;
}
#Icon_feather-send_ {
	position: absolute;
	width: 23.666px;
	height: 23.666px;
	left: 734.873px;
	top: 4213px;
	overflow: visible;
}
#Submit {
	left: 923px;
	top: 549px;
	position: absolute;
	overflow: visible;
	width: 57px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Send {
	left: 640px;
	top: 4212px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Icon_feather-plus-circle {
	position: absolute;
	width: 24.019px;
	height: 24.019px;
	left: 1022.5px;
	top: 462px;
	overflow: visible;
}
#Rectangle_8:hover {
	fill: rgba(246,94,93,1);
}
#Rectangle_8 {
	fill: rgba(0,100,255,1);
	transition: all .3s ease-out;
}
.Rectangle_8 {
	position: absolute;
	overflow: visible;
	width: 264px;
	height: 61px;
	left: 113px;
	top: 500px;
}
#ORDER_A_TRANSLATION {
	left: 138px;
	top: 520px;
	position: absolute;
	overflow: visible;
	width: 216px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
#Group_16 {
	position: absolute;
	width: 57px;
	height: 57px;
	left: 406px;
	top: 502px;
	overflow: visible;
}
#Ellipse_4 {
	fill: rgba(255,255,255,1);
}
.Ellipse_4 {
	position: absolute;
	overflow: visible;
	width: 57px;
	height: 57px;
	left: 0px;
	top: 0px;
}
#Polygon_1 {
	fill: rgba(246,94,93,1);
}
.Polygon_1 {
	overflow: hidden;
	position: absolute;
	width: 26px;
	height: 22px;
	transform: translate(-406px, -504px) matrix(1,0,0,1,424.948,521.9816) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#We_know_more_than_100_language {
	left: 113px;
	top: 382px;
	position: absolute;
	overflow: visible;
	width: 402px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(119,117,117,1);
}
#BUREAU_OF_TRANSLATIONS {
	left: 113px;
	top: 303px;
	position: absolute;
	overflow: visible;
	width: 396px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(0,100,255,1);
}
#ORDERING_A_TRANSLATION_FROM_US {
	left: 113px;
	top: 787px;
	position: absolute;
	overflow: visible;
	width: 530px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(0,100,255,1);
}
#Multidisciplinary {
	left: 114px;
	top: 267px;
	position: absolute;
	overflow: visible;
	width: 144px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(246,94,93,1);
}
#Guaranteed {
	left: 113px;
	top: 751px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(246,94,93,1);
}
#Ellipse_6 {
	filter: blur(5px);
	fill: rgba(246,94,93,1);
}
.Ellipse_6 {
	position: absolute;
	overflow: visible;
	width: 55px;
	height: 55px;
	left: 115px;
	top: 207px;
	filter:  blur(5px);
}
#Ellipse_10 {
	filter: blur(5px);
	fill: rgba(246,94,93,1);
}
.Ellipse_10 {
	position: absolute;
	overflow: visible;
	width: 55px;
	height: 55px;
	left: 147px;
	top: 207px;
	filter:  blur(5px);
}
#Ellipse_11 {
	filter: blur(5px);
	fill: rgba(246,94,93,1);
}
.Ellipse_11 {
	position: absolute;
	overflow: visible;
	width: 55px;
	height: 55px;
	left: 178px;
	top: 207px;
	filter:  blur(5px);
}
#Ellipse_9:hover {
	fill: rgba(0,100,255,1);
}
.Ellipse_9:hover {
	width: 27px;
	height: 27px;
}
#Ellipse_9 {
	fill: rgba(255,255,255,1);
	transition: all .3s ease-out;
}
.Ellipse_9 {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 115px;
	top: 207px;
	transition: all .3s ease-out;
}
#Ellipse_7 {
	fill: rgba(255,255,255,1);
}
.Ellipse_7 {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 147px;
	top: 207px;
}
#Ellipse_8 {
	fill: rgba(255,255,255,1);
}
.Ellipse_8 {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 25px;
	left: 178px;
	top: 207px;
}
#Icon_awesome-facebook-f {
	fill: rgba(246,94,93,1);
}
.Icon_awesome-facebook-f {
	overflow: visible;
	position: absolute;
	width: 7.619px;
	height: 14.226px;
	left: 124px;
	top: 212px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-twitter {
	fill: rgba(246,94,93,1);
}
.Icon_awesome-twitter {
	overflow: visible;
	position: absolute;
	width: 14.552px;
	height: 11.819px;
	left: 152px;
	top: 214px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_zocial-linkedin {
	fill: rgba(246,94,93,1);
}
.Icon_zocial-linkedin {
	overflow: visible;
	position: absolute;
	width: 12.274px;
	height: 11.729px;
	left: 184px;
	top: 214px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_12 {
	fill: rgba(0,80,255,1);
}
.Ellipse_12 {
	position: absolute;
	overflow: visible;
	width: 38px;
	height: 38px;
	left: 114px;
	top: 34px;
}
#Ellipse_13 {
	fill: rgba(246,94,93,1);
}
.Ellipse_13 {
	position: absolute;
	overflow: visible;
	width: 27px;
	height: 27px;
	left: 136px;
	top: 41px;
}
#Tr {
	left: 141px;
	top: 42px;
	position: absolute;
	overflow: visible;
	width: 18px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#anslate {
	left: 165px;
	top: 42px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,80,255,1);
}
#Group_1 {
	position: absolute;
	width: 44.312px;
	height: 60.531px;
	left: 132.747px;
	top: 925.351px;
	overflow: visible;
}
#Icon_awesome-thumbs-up {
	fill: transparent;
	stroke: rgba(0,80,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_awesome-thumbs-up {
	overflow: visible;
	position: absolute;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 24.531px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_weather-stars {
	fill: rgba(246,94,93,1);
}
.Icon_weather-stars {
	overflow: visible;
	position: absolute;
	width: 17.184px;
	height: 17.032px;
	transform: translate(-1080.747px, -918.351px) matrix(1,0,0,1,1099.8141,919.775) rotate(-80deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Icon_feather-star {
	fill: transparent;
	stroke: rgba(246,94,93,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_feather-star {
	overflow: visible;
	position: absolute;
	width: 14.693px;
	height: 13.973px;
	transform: translate(-1080.747px, -918.351px) matrix(1,0,0,1,1109.6761,935.7) rotate(6deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Group_1_b {
	position: absolute;
	width: 44.312px;
	height: 60.531px;
	left: 462.747px;
	top: 925.351px;
	overflow: visible;
}
#Icon_awesome-thumbs-up_b {
	fill: transparent;
	stroke: rgba(0,80,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_awesome-thumbs-up_b {
	overflow: visible;
	position: absolute;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 24.531px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_weather-stars_b {
	fill: rgba(246,94,93,1);
}
.Icon_weather-stars_b {
	overflow: visible;
	position: absolute;
	width: 17.184px;
	height: 17.032px;
	transform: translate(-1080.747px, -918.351px) matrix(1,0,0,1,1099.8141,919.775) rotate(-80deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Icon_feather-star_b {
	fill: transparent;
	stroke: rgba(246,94,93,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_feather-star_b {
	overflow: visible;
	position: absolute;
	width: 14.693px;
	height: 13.973px;
	transform: translate(-1080.747px, -918.351px) matrix(1,0,0,1,1109.6761,935.7) rotate(6deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Group_1_ca {
	position: absolute;
	width: 44.312px;
	height: 60.531px;
	left: 792.747px;
	top: 925.351px;
	overflow: visible;
}
#Icon_awesome-thumbs-up_ca {
	fill: transparent;
	stroke: rgba(0,80,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_awesome-thumbs-up_ca {
	overflow: visible;
	position: absolute;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 24.531px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_weather-stars_ca {
	fill: rgba(246,94,93,1);
}
.Icon_weather-stars_ca {
	overflow: visible;
	position: absolute;
	width: 17.184px;
	height: 17.032px;
	transform: translate(-1080.747px, -918.351px) matrix(1,0,0,1,1099.8141,919.775) rotate(-80deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Icon_feather-star_ca {
	fill: transparent;
	stroke: rgba(246,94,93,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_feather-star_ca {
	overflow: visible;
	position: absolute;
	width: 14.693px;
	height: 13.973px;
	transform: translate(-1080.747px, -918.351px) matrix(1,0,0,1,1109.6761,935.7) rotate(6deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Group_1_cb {
	position: absolute;
	width: 44.312px;
	height: 60.531px;
	left: 1122.747px;
	top: 925.351px;
	overflow: visible;
}
#Icon_awesome-thumbs-up_cb {
	fill: transparent;
	stroke: rgba(0,80,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_awesome-thumbs-up_cb {
	overflow: visible;
	position: absolute;
	width: 38px;
	height: 38px;
	left: 0px;
	top: 24.531px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_weather-stars_cc {
	fill: rgba(246,94,93,1);
}
.Icon_weather-stars_cc {
	overflow: visible;
	position: absolute;
	width: 17.184px;
	height: 17.032px;
	transform: translate(-1080.747px, -918.351px) matrix(1,0,0,1,1099.8141,919.775) rotate(-80deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Icon_feather-star_cd {
	fill: transparent;
	stroke: rgba(246,94,93,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_feather-star_cd {
	overflow: visible;
	position: absolute;
	width: 14.693px;
	height: 13.973px;
	transform: translate(-1080.747px, -918.351px) matrix(1,0,0,1,1109.6761,935.7) rotate(6deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Individual_approach {
	left: 132px;
	top: 1017px;
	position: absolute;
	overflow: visible;
	width: 92px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(119,117,117,1);
}
#Reliability_and_high_quality {
	left: 461px;
	top: 1017px;
	position: absolute;
	overflow: visible;
	width: 147px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(119,117,117,1);
}
#Linguistic_support {
	left: 790px;
	top: 1017px;
	position: absolute;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(119,117,117,1);
}
#Savings_time_and_money {
	left: 1119px;
	top: 1017px;
	position: absolute;
	overflow: visible;
	width: 146px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -3.5px;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(119,117,117,1);
}
#Rectangle_10 {
	fill: rgba(247,250,255,1);
}
.Rectangle_10 {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 584px;
	left: 0px;
	top: 1174px;
}
#Rectangle_14 {
	filter: blur(5px);
	fill: rgba(246,94,93,1);
}
.Rectangle_14 {
	position: absolute;
	overflow: visible;
	width: 246px;
	height: 79px;
	left: 727px;
	top: 1580px;
	filter:  blur(5px);
}
#Rectangle_15 {
	filter: blur(30px);
	fill: rgba(0,100,255,0.722);
}
.Rectangle_15 {
	position: absolute;
	overflow: visible;
	width: 704px;
	height: 650px;
	left: 117px;
	top: 1217px;
	filter:  blur(5px);
}
#Rectangle_11 {
	position: absolute;
	width: 524px;
	height: 470px;
	left: 113px;
	top: 1209px;
	overflow: visible;
}
#Rectangle_12 {
	fill: rgba(0,100,255,0.722);
}
.Rectangle_12 {
	position: absolute;
	overflow: visible;
	width: 524px;
	height: 470px;
	left: 113px;
	top: 1209px;
}
#Ellipse_14 {
	fill: rgba(255,255,255,1);
}
.Ellipse_14 {
	position: absolute;
	overflow: visible;
	width: 57px;
	height: 57px;
	left: 351px;
	top: 1438px;
}
#Polygon_2 {
	fill: rgba(246,94,93,1);
}
.Polygon_2 {
	overflow: hidden;
	position: absolute;
	width: 26px;
	height: 22px;
	transform: matrix(1,0,0,1,369.948,1455.9817) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#ORDERING_A_TRANSLATION_FROM_US_cp {
	left: 727px;
	top: 1323px;
	position: absolute;
	overflow: visible;
	width: 530px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(0,100,255,1);
}
#MORE_THAN_10_YEARS_OF_EXPERIEN {
	left: 113px;
	top: 1957px;
	position: absolute;
	overflow: visible;
	width: 588px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(0,100,255,1);
}
#OUR_CUSTOMER_REVIEWS {
	left: 113px;
	top: 3196px;
	position: absolute;
	overflow: visible;
	width: 369px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(0,100,255,1);
}
#Guaranteed_cs {
	left: 727px;
	top: 1287px;
	position: absolute;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(246,94,93,1);
}
#Our_Company {
	left: 113px;
	top: 1921px;
	position: absolute;
	overflow: visible;
	width: 114px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(246,94,93,1);
}
#Only_True {
	left: 113px;
	top: 3160px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(246,94,93,1);
}
#We_know_more_than_100_language_cv {
	left: 727px;
	top: 1444px;
	position: absolute;
	overflow: visible;
	width: 402px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(119,117,117,1);
}
#We_know_more_than_100_language_cw {
	left: 113px;
	top: 2078px;
	position: absolute;
	overflow: visible;
	width: 402px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(119,117,117,1);
}
#Rectangle_13 {
	fill: rgba(246,94,93,1);
}
.Rectangle_13 {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 49px;
	left: 727px;
	top: 1580px;
}
#Rectangle_18 {
	fill: rgba(246,94,93,1);
}
.Rectangle_18 {
	position: absolute;
	overflow: visible;
	width: 216px;
	height: 49px;
	left: 113px;
	top: 2214px;
}
#Rectangle_17 {
	filter: blur(5px);
	fill: rgba(246,94,93,1);
}
.Rectangle_17 {
	position: absolute;
	overflow: visible;
	width: 246px;
	height: 79px;
	left: 113px;
	top: 2214px;
	filter:  blur(5px);
}
#OUR_SERVICES {
	left: 751px;
	top: 1590px;
	position: absolute;
	overflow: visible;
	width: 132px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
#LEARN_MORE {
	left: 137px;
	top: 2224px;
	position: absolute;
	overflow: visible;
	width: 120px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(255,255,255,1);
}
#Rectangle_19 {
	filter: blur(5px);
	fill: rgba(0,100,255,1);
}
.Rectangle_19 {
	position: absolute;
	overflow: visible;
	width: 263px;
	height: 264px;
	left: 727px;
	top: 1847px;
	filter:  blur(5px);
}
#Rectangle_16 {
	fill: rgba(255,255,255,1);
}
.Rectangle_16 {
	position: absolute;
	overflow: visible;
	width: 233px;
	height: 234px;
	left: 727px;
	top: 1847px;
}
#Icon_awesome-handshake {
	fill: transparent;
	stroke: rgba(0,100,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_awesome-handshake {
	overflow: visible;
	position: absolute;
	width: 56.413px;
	height: 34.663px;
	left: 815.8px;
	top: 1896.495px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_20 {
	filter: blur(5px);
	fill: rgba(246,94,93,1);
}
.Rectangle_20 {
	position: absolute;
	overflow: visible;
	width: 263px;
	height: 264px;
	left: 989px;
	top: 1847px;
	filter:  blur(5px);
}
#ID3897 {
	left: 810px;
	top: 1945px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Nirmala UI;
	font-style: normal;
	font-weight: bold;
	font-size: 29px;
	color: rgba(81,81,81,1);
}
#Happy_Clients {
	left: 777px;
	top: 2007px;
	position: absolute;
	overflow: visible;
	width: 135px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -1.5px;
	text-align: center;
	font-family: Martel;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(81,81,81,1);
}
#Rectangle_16_c {
	fill: rgba(255,255,255,1);
}
.Rectangle_16_c {
	position: absolute;
	overflow: visible;
	width: 233px;
	height: 234px;
	left: 989px;
	top: 1847px;
}
#ID57 {
	left: 1089px;
	top: 1945px;
	position: absolute;
	overflow: visible;
	width: 34px;
	white-space: nowrap;
	text-align: left;
	font-family: Nirmala UI;
	font-style: normal;
	font-weight: bold;
	font-size: 29px;
	color: rgba(81,81,81,1);
}
#Wins_in_Contests {
	left: 1026px;
	top: 2007px;
	position: absolute;
	overflow: visible;
	width: 161px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -1.5px;
	text-align: center;
	font-family: Martel;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(81,81,81,1);
}
#Rectangle_21 {
	filter: blur(5px);
	fill: rgba(246,94,93,1);
}
.Rectangle_21 {
	position: absolute;
	overflow: visible;
	width: 263px;
	height: 264px;
	left: 727px;
	top: 2110px;
	filter:  blur(5px);
}
#Rectangle_16_dc {
	fill: rgba(255,255,255,1);
}
.Rectangle_16_dc {
	position: absolute;
	overflow: visible;
	width: 233px;
	height: 234px;
	left: 727px;
	top: 2110px;
}
#ID4786 {
	left: 810px;
	top: 2208px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	text-align: left;
	font-family: Nirmala UI;
	font-style: normal;
	font-weight: bold;
	font-size: 29px;
	color: rgba(81,81,81,1);
}
#Completed_Translations {
	left: 785px;
	top: 2270px;
	position: absolute;
	overflow: visible;
	width: 119px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -1.5px;
	text-align: center;
	font-family: Martel;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(81,81,81,1);
}
#Rectangle_22 {
	filter: blur(5px);
	fill: rgba(0,100,255,1);
}
.Rectangle_22 {
	position: absolute;
	overflow: visible;
	width: 263px;
	height: 264px;
	left: 989px;
	top: 2110px;
	filter:  blur(5px);
}
#Rectangle_16_dg {
	fill: rgba(255,255,255,1);
}
.Rectangle_16_dg {
	position: absolute;
	overflow: visible;
	width: 233px;
	height: 234px;
	left: 989px;
	top: 2110px;
}
#ID235 {
	left: 1081px;
	top: 2208px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	text-align: left;
	font-family: Nirmala UI;
	font-style: normal;
	font-weight: bold;
	font-size: 29px;
	color: rgba(81,81,81,1);
}
#Experienced__specialists {
	left: 1045px;
	top: 2270px;
	position: absolute;
	overflow: visible;
	width: 123px;
	white-space: nowrap;
	line-height: 22px;
	margin-top: -1.5px;
	text-align: center;
	font-family: Martel;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	color: rgba(81,81,81,1);
}
#Icon_ionic-ios-trophy {
	fill: transparent;
	stroke: rgba(246,94,93,1);
	stroke-width: 1.5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_ionic-ios-trophy {
	overflow: visible;
	position: absolute;
	width: 46.952px;
	height: 43.456px;
	left: 1082.5px;
	top: 1896.325px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_feather-star_dk {
	fill: transparent;
	stroke: rgba(246,94,93,1);
	stroke-width: 1.5px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Icon_feather-star_dk {
	overflow: visible;
	position: absolute;
	width: 18.603px;
	height: 17.765px;
	left: 1096.5px;
	top: 1901.038px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-user-tie {
	fill: rgba(0,100,255,1);
}
.Icon_awesome-user-tie {
	overflow: visible;
	position: absolute;
	width: 45.338px;
	height: 51.814px;
	left: 1083.294px;
	top: 2149.773px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-translate {
	fill: rgba(246,94,93,1);
}
.Icon_material-translate {
	overflow: visible;
	position: absolute;
	width: 33px;
	height: 30px;
	left: 827px;
	top: 2160.825px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_23 {
	fill: rgba(247,250,255,1);
}
.Rectangle_23 {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 677px;
	left: 0px;
	top: 2409px;
}
#Our_Company_do {
	left: 627px;
	top: 2509px;
	position: absolute;
	overflow: visible;
	width: 114px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(246,94,93,1);
}
#Profitable_and_Convenient {
	left: 574px;
	top: 3910px;
	position: absolute;
	overflow: visible;
	width: 219px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(246,94,93,1);
}
#OUR_SERVICES_dq {
	left: 579px;
	top: 2547px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(0,100,255,1);
}
#ORDER_THE_TRANSLATION_ONLINE_W {
	left: 265px;
	top: 3948px;
	position: absolute;
	overflow: visible;
	width: 838px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 27px;
	color: rgba(0,100,255,1);
}
#_Lorem_ipsum_dolor_sit_amet_co {
	left: 427px;
	top: 2603px;
	position: absolute;
	overflow: visible;
	width: 547px;
	height: 93px;
	text-align: center;
	font-family: Martel;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(119,117,117,1);
}
#_Fill_out_the_form_and_we_will {
	left: 410px;
	top: 4017px;
	position: absolute;
	overflow: visible;
	width: 547px;
	height: 65px;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(119,117,117,1);
}
#Ellipse_15 {
	fill: rgba(246,94,93,1);
}
.Ellipse_15 {
	position: absolute;
	overflow: visible;
	width: 69px;
	height: 69px;
	left: 114px;
	top: 2748px;
}
#Ellipse_16 {
	filter: blur(5px);
	fill: rgba(246,94,93,1);
}
.Ellipse_16 {
	position: absolute;
	overflow: visible;
	width: 99px;
	height: 99px;
	left: 113px;
	top: 2748px;
	filter:  blur(5px);
}
#Writing {
	left: 114px;
	top: 2842px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: center;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(91,91,91,1);
}
#Writing_translation_of__any_te {
	left: 114px;
	top: 2888px;
	position: absolute;
	overflow: visible;
	width: 167px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(119,117,117,1);
}
#TO_ORDER {
	left: 113px;
	top: 2992px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: center;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(0,100,255,1);
}
#TO_ORDER_dz {
	left: 424px;
	top: 2992px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: center;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(0,100,255,1);
}
#TO_ORDER_d {
	left: 727px;
	top: 2992px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: center;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(0,100,255,1);
}
#TO_ORDER_ea {
	left: 1046px;
	top: 2992px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: center;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(0,100,255,1);
}
#Ellipse_15_d {
	fill: rgba(246,94,93,1);
}
.Ellipse_15_d {
	position: absolute;
	overflow: visible;
	width: 69px;
	height: 69px;
	left: 424px;
	top: 2748px;
}
#Ellipse_17 {
	filter: blur(5px);
	fill: rgba(246,94,93,1);
}
.Ellipse_17 {
	position: absolute;
	overflow: visible;
	width: 99px;
	height: 99px;
	left: 424px;
	top: 2748px;
	filter:  blur(5px);
}
#Oral {
	left: 424px;
	top: 2842px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: center;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(91,91,91,1);
}
#Oral_Consistent_and_simultaneo {
	left: 424px;
	top: 2888px;
	position: absolute;
	overflow: visible;
	width: 215px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(119,117,117,1);
}
#Ellipse_15_ea {
	fill: rgba(246,94,93,1);
}
.Ellipse_15_ea {
	position: absolute;
	overflow: visible;
	width: 69px;
	height: 69px;
	left: 734px;
	top: 2748px;
}
#Ellipse_18 {
	filter: blur(5px);
	fill: rgba(246,94,93,1);
}
.Ellipse_18 {
	position: absolute;
	overflow: visible;
	width: 99px;
	height: 99px;
	left: 734px;
	top: 2748px;
	filter:  blur(5px);
}
#Assurance {
	left: 727px;
	top: 2842px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: center;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(91,91,91,1);
}
#Writing_translation_of__any_te_d {
	left: 727px;
	top: 2888px;
	position: absolute;
	overflow: visible;
	width: 167px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(119,117,117,1);
}
#Ellipse_15_eb {
	fill: rgba(246,94,93,1);
}
.Ellipse_15_eb {
	position: absolute;
	overflow: visible;
	width: 69px;
	height: 69px;
	left: 1044px;
	top: 2748px;
}
#Ellipse_19 {
	filter: blur(5px);
	fill: rgba(246,94,93,1);
}
.Ellipse_19 {
	position: absolute;
	overflow: visible;
	width: 99px;
	height: 99px;
	left: 1044px;
	top: 2748px;
	filter:  blur(5px);
}
#Corporate {
	left: 1043px;
	top: 2842px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: center;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(91,91,91,1);
}
#Corporate_Services_for__legal_ {
	left: 1044px;
	top: 2888px;
	position: absolute;
	overflow: visible;
	width: 112px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	color: rgba(119,117,117,1);
}
#Icon_metro-pencil {
	fill: rgba(255,255,255,1);
}
.Icon_metro-pencil {
	overflow: visible;
	position: absolute;
	width: 30.849px;
	height: 30.849px;
	left: 133px;
	top: 2767px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_feather-mic {
	position: absolute;
	width: 21px;
	height: 33px;
	left: 448px;
	top: 2766px;
	overflow: visible;
}
#Path_9 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_9 {
	overflow: visible;
	position: absolute;
	width: 12px;
	height: 24px;
	left: 6px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_10 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_10 {
	overflow: visible;
	position: absolute;
	width: 24px;
	height: 16.5px;
	left: 0px;
	top: 13.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_11 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_11 {
	overflow: visible;
	position: absolute;
	width: 3px;
	height: 9px;
	left: 10.5px;
	top: 27px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_12 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 3px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_12 {
	overflow: visible;
	position: absolute;
	width: 15px;
	height: 3px;
	left: 4.5px;
	top: 33px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_open-document {
	fill: rgba(255,255,255,1);
}
.Icon_open-document {
	overflow: visible;
	position: absolute;
	width: 29.311px;
	height: 33.498px;
	left: 754px;
	top: 2766px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_awesome-building {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-building {
	overflow: visible;
	position: absolute;
	width: 31.5px;
	height: 36px;
	left: 1063.05px;
	top: 2764.5px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_20 {
	position: absolute;
	width: 95px;
	height: 94px;
	left: 113px;
	top: 3305px;
	overflow: visible;
}
#Alexey_Nefedorov {
	left: 226px;
	top: 3316px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: center;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(91,91,91,1);
}
#Self_Employed_ {
	left: 226px;
	top: 3345px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(119,117,117,1);
}
#Icon_material-star {
	fill: rgba(255,208,81,1);
}
.Icon_material-star {
	overflow: visible;
	position: absolute;
	width: 14.744px;
	height: 14.007px;
	left: 229px;
	top: 3375px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-star_eq {
	fill: rgba(255,208,81,1);
}
.Icon_material-star_eq {
	overflow: visible;
	position: absolute;
	width: 14.744px;
	height: 14.007px;
	left: 248px;
	top: 3375px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-star_er {
	fill: rgba(255,208,81,1);
}
.Icon_material-star_er {
	overflow: visible;
	position: absolute;
	width: 14.744px;
	height: 14.007px;
	left: 267px;
	top: 3375px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-star_es {
	fill: rgba(255,208,81,1);
}
.Icon_material-star_es {
	overflow: visible;
	position: absolute;
	width: 14.744px;
	height: 14.007px;
	left: 286px;
	top: 3375px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-star_et {
	fill: rgba(255,208,81,1);
}
.Icon_material-star_et {
	overflow: visible;
	position: absolute;
	width: 14.744px;
	height: 14.007px;
	left: 305px;
	top: 3375px;
	transform: matrix(1,0,0,1,0,0);
}
#Lorem_ipsum_dolor_sit_amet_con {
	left: 113px;
	top: 3409px;
	position: absolute;
	overflow: visible;
	width: 477px;
	height: 109px;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(165,164,164,1);
}
#Ellipse_20_ev {
	position: absolute;
	width: 95px;
	height: 94px;
	left: 719px;
	top: 3305px;
	overflow: visible;
}
#Alexey_Nefedorov_ew {
	left: 832px;
	top: 3316px;
	position: absolute;
	overflow: visible;
	width: 157px;
	white-space: nowrap;
	text-align: center;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(91,91,91,1);
}
#Self_Employed__ex {
	left: 832px;
	top: 3345px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(119,117,117,1);
}
#Icon_material-star_ey {
	fill: rgba(255,208,81,1);
}
.Icon_material-star_ey {
	overflow: visible;
	position: absolute;
	width: 14.744px;
	height: 14.007px;
	left: 835px;
	top: 3375px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-star_ez {
	fill: rgba(255,208,81,1);
}
.Icon_material-star_ez {
	overflow: visible;
	position: absolute;
	width: 14.744px;
	height: 14.007px;
	left: 854px;
	top: 3375px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-star_e {
	fill: rgba(255,208,81,1);
}
.Icon_material-star_e {
	overflow: visible;
	position: absolute;
	width: 14.744px;
	height: 14.007px;
	left: 873px;
	top: 3375px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-star_fa {
	fill: rgba(255,208,81,1);
}
.Icon_material-star_fa {
	overflow: visible;
	position: absolute;
	width: 14.744px;
	height: 14.007px;
	left: 892px;
	top: 3375px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_material-star_fb {
	fill: rgba(255,208,81,1);
}
.Icon_material-star_fb {
	overflow: visible;
	position: absolute;
	width: 14.744px;
	height: 14.007px;
	left: 911px;
	top: 3375px;
	transform: matrix(1,0,0,1,0,0);
}
#Lorem_ipsum_dolor_sit_amet_con_e {
	left: 719px;
	top: 3409px;
	position: absolute;
	overflow: visible;
	width: 477px;
	height: 109px;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	color: rgba(165,164,164,1);
}
#Rectangle_24 {
	fill: rgba(247,250,255,1);
}
.Rectangle_24 {
	position: absolute;
	overflow: visible;
	width: 1366px;
	height: 243px;
	left: 0px;
	top: 3586px;
}
#Rectangle_25 {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_25 {
	position: absolute;
	overflow: visible;
	width: 215px;
	height: 44px;
	left: 310px;
	top: 4128px;
}
#Rectangle_25_e {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_25_e {
	position: absolute;
	overflow: visible;
	width: 215px;
	height: 44px;
	left: 571px;
	top: 4128px;
}
#Rectangle_25_fa {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_25_fa {
	position: absolute;
	overflow: visible;
	width: 215px;
	height: 44px;
	left: 832px;
	top: 4128px;
}
#Path_13 {
	position: absolute;
	width: 1520.96px;
	height: 346.655px;
	left: -40.432px;
	top: 4225px;
	overflow: visible;
}
#Path_14_fa {
	fill: url(#Path_14_fa);
}
.Path_14_fa {
	overflow: visible;
	position: absolute;
	width: 1533.213px;
	height: 379.498px;
	left: -63.432px;
	top: 4169.157px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_15_fc {
	fill: url(#Path_15_fc);
}
.Path_15_fc {
	overflow: visible;
	position: absolute;
	width: 1534.048px;
	height: 407.804px;
	left: -69.432px;
	top: 4163.851px;
	transform: matrix(1,0,0,1,0,0);
}
#Ellipse_21 {
	fill: rgba(0,80,255,1);
}
.Ellipse_21 {
	position: absolute;
	overflow: visible;
	width: 38px;
	height: 38px;
	left: 165px;
	top: 4329px;
}
#Ellipse_22 {
	fill: rgba(246,94,93,1);
}
.Ellipse_22 {
	position: absolute;
	overflow: visible;
	width: 27px;
	height: 27px;
	left: 187px;
	top: 4336px;
}
#Tr_ff {
	left: 192px;
	top: 4337px;
	position: absolute;
	overflow: visible;
	width: 18px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#anslate_fg {
	left: 216px;
	top: 4337px;
	position: absolute;
	overflow: visible;
	width: 58px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(0,80,255,1);
}
#Home_fh {
	left: 354px;
	top: 4337px;
	position: absolute;
	overflow: visible;
	width: 48px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Benefits_fi {
	left: 463px;
	top: 4337px;
	position: absolute;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Services_fj {
	left: 572px;
	top: 4337px;
	position: absolute;
	overflow: visible;
	width: 66px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Reviews_fk {
	left: 681px;
	top: 4337px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Contacts_fl {
	left: 790px;
	top: 4337px;
	position: absolute;
	overflow: visible;
	width: 70px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Ellipse_23 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_23 {
	position: absolute;
	overflow: visible;
	width: 18px;
	height: 18px;
	left: 185px;
	top: 4444px;
}
#c {
	left: 190px;
	top: 4440px;
	position: absolute;
	overflow: visible;
	width: 9px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#_2020_Translate {
	left: 209px;
	top: 4440px;
	position: absolute;
	overflow: visible;
	width: 120px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#_abcdemediagmailcom {
	left: 1102px;
	top: 4337px;
	position: absolute;
	overflow: visible;
	width: 176px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#_8885216742 {
	left: 1189px;
	top: 4376px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	text-align: left;
	font-family: Martel;
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Icon_awesome-phone-alt {
	fill: rgba(255,255,255,1);
}
.Icon_awesome-phone-alt {
	overflow: visible;
	position: absolute;
	width: 14.414px;
	height: 14.414px;
	left: 1175px;
	top: 4379px;
	transform: matrix(1,0,0,1,0,0);
}
#Icon_feather-mail {
	position: absolute;
	width: 14.487px;
	height: 11.589px;
	left: 1082.362px;
	top: 4342.207px;
	overflow: visible;
}
#Path_16 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_16 {
	overflow: visible;
	position: absolute;
	width: 16.487px;
	height: 13.589px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_17 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 2px;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_17 {
	overflow: visible;
	position: absolute;
	width: 17.272px;
	height: 7.463px;
	left: 0px;
	top: 1.449px;
	transform: matrix(1,0,0,1,0,0);
}